### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:

# checking school data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# checking student data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the both data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# To hold all the results
my_dict = {}

In [6]:
# Determine total number of schools 
totalschool= school_data['school_name'].count()
totalschool
my_dict['Total School']=totalschool

In [7]:
# total number of students
totalstudents = school_data_complete_df['student_name'].count()
my_dict['Total Students']=totalstudents

In [8]:
# total budget
totalbudget= school_data['budget'].sum()
my_dict['Total Budget'] = totalbudget

In [9]:
# calculate avearge math scores
avgmaths = school_data_complete_df['math_score'].mean()
my_dict['Average Math Score'] = avgmaths

In [10]:
# calculate avearge reading scores
avgreading = school_data_complete_df['reading_score'].mean()
my_dict['Average Reading Score'] = avgreading

In [11]:
# Determine overall passing Reading and Math in all schools
tot =school_data_complete_df['Student ID'].count()
print(tot)

39170

In [12]:
overallpassing= (school_data_complete_df.loc[(school_data_complete_df['reading_score']>=70)&(school_data_complete_df['math_score']>=70)]['Student ID'].count()/tot)*100
overallpassing
my_dict['% Overall Passing'] = overallpassing
print(overallpassing)

65.17232575950983

In [ ]:
my_dict

In [19]:
#to reorder use this
results_df = pd.DataFrame([my_dict])
results_df = results_df[['Total School','Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
results_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [13]:
# calculate percentage of students scoring 70 or more in maths 
passingmath= school_data_complete_df[school_data_complete_df['math_score']>=70]
passingmath

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [14]:
studentsmath=passingmath['student_name'].count()

In [15]:
percentmath = (studentsmath/totalstudents)*100
print(percentmath)
my_dict['% Passing Math'] = percentmath

74.9808526933878

In [16]:
# determine percentage students scoring 70 or more in reading
passingreading= school_data_complete_df[school_data_complete_df['reading_score']>=70]

In [17]:
studentsreading=passingreading['student_name'].count()

In [18]:
percentreading= (studentsreading/totalstudents)*100
print(percentreading)
my_dict['% Passing Reading'] = percentreading

85.80546336482001

In [ ]:
# School Summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
# Extracting and keeping relevant columns
school_summary = school_data_complete_df[["school_name", "reading_score", "math_score", "size", "type", "budget"]]

In [21]:
school_summary.head()

         school_name  reading_score  math_score  size      type   budget
0  Huang High School             66          79  2917  District  1910635
1  Huang High School             94          61  2917  District  1910635
2  Huang High School             90          60  2917  District  1910635
3  Huang High School             67          58  2917  District  1910635
4  Huang High School             97          84  2917  District  1910635

In [22]:
school_group = school_summary.groupby(["school_name", "type"])
school_metrics = school_group.mean()
school_metrics

                                reading_score  math_score    size     budget
school_name           type
Bailey High School    District      81.033963   77.048432  4976.0  3124928.0
Cabrera High School   Charter       83.975780   83.061895  1858.0  1081356.0
Figueroa High School  District      81.158020   76.711767  2949.0  1884411.0
Ford High School      District      80.746258   77.102592  2739.0  1763916.0
Griffin High School   Charter       83.816757   83.351499  1468.0   917500.0
Hernandez High School District      80.934412   77.289752  4635.0  3022020.0
Holden High School    Charter       83.814988   83.803279   427.0   248087.0
Huang High School     District      81.182722   76.629414  2917.0  1910635.0
Johnson High School   District      80.966394   77.072464  4761.0  3094650.0
Pena High School      Charter       84.044699   83.839917   962.0   585858.0
Rodriguez High School District      80.744686   76.842711  3999.0  2547363.0
Shelton High School   Charter       83.725724   83.359455  1761.0  1056600.0
Thomas High School    Charter       83.848930   83.418349  1635.0  1043130.0
Wilson High School    Charter       83.989488   83.274201  2283.0  1319574.0
Wright High School    Charter       83.955000   83.682222  1800.0  1049400.0

In [23]:
#Determine school budget and add as a new column
school_metrics['Student Budget'] = school_metrics['budget']/school_metrics['size']
school_metrics

,,reading_score,math_score,size,budget,Student Budget
school_name,type,,,,,
Bailey High School,District,81.033963,77.048432,4976.0,3124928.0,628.0
Cabrera High School,Charter,83.975780,83.061895,1858.0,1081356.0,582.0
Figueroa High School,District,81.158020,76.711767,2949.0,1884411.0,639.0
Ford High School,District,80.746258,77.102592,2739.0,1763916.0,644.0
Griffin High School,Charter,83.816757,83.351499,1468.0,917500.0,625.0
Hernandez High School,District,80.934412,77.289752,4635.0,3022020.0,652.0
Holden High School,Charter,83.814988,83.803279,427.0,248087.0,581.0
Huang High School,District,81.182722,76.629414,2917.0,1910635.0,655.0
Johnson High School,District,80.966394,77.072464,4761.0,3094650.0,650.0
Pena High School,Charter,84.044699,83.839917,962.0,585858.0,609.0
Rodriguez High School,District,80.744686,76.842711,3999.0,2547363.0,637.0
Shelton High School,Charter,83.725724,83.359455,1761.0,1056600.0,600.0
Thomas High School,Charter,83.848930,83.418349,1635.0,1043130.0,638.0
Wilson High School,Charter,83.989488,83.274201,2283.0,1319574.0,578.0
Wright High School,Charter,83.955000,83.682222,1800.0,1049400.0,583.0

In [ ]:
# Determine % percent passing math in each school
# calculate students scoring more than 70% in math
#extracting relevant columns
new_school_summary = student_data[["Student ID","grade", "school_name", "reading_score", "math_score"]]
new_school_summary

In [ ]:
# Determine overall passing Reading and Math in all schools

#new_school_group = new_school_summary.groupby(["school_name"])

In [35]:
# Determine overall passing Reading and Math in all schools
passing_math_and_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [26]:
sch_overall = passing_math_and_reading.groupby(["school_name"]).count()["student_name"]
sch_overall

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [29]:
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [58]:
schoolpercent=[(sch_overall)/(per_school_counts)]
school_percent

[[Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921
  Thomas High School       0.909480
  Wilson High School       0.905826
  Wright High School       0.903333
  dtype: float64],
 [Bailey High School       0.546423
  Cabrera High School      0.913348
  Figueroa High School     0.532045
  Ford High School         0.542899
  Griffin High School      0.905995
  Hernandez High School    0.535275
  Holden High School       0.892272
  Huang High School        0.535139
  Johnson High School      0.535392
  Pena High School         0.905405
  Rodriguez High School    0.529882
  Shelton High School      0.898921

In [59]:
#stu_math_read = (new_school_group.loc[(new_school_group['t ID'].count()/tot)*100
passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [66]:
sch_overall_math = passing_math.groupby(["school_name"]).count()["student_name"]
sch_overall_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [69]:
#schpassmath= schoolmath['math_score'].count()
per_school_math=[(sch_overall_math)/(per_school_counts)]
per_school_math

[Bailey High School       0.666801
 Cabrera High School      0.941335
 Figueroa High School     0.659885
 Ford High School         0.683096
 Griffin High School      0.933924
 Hernandez High School    0.667530
 Holden High School       0.925059
 Huang High School        0.656839
 Johnson High School      0.660576
 Pena High School         0.945946
 Rodriguez High School    0.663666
 Shelton High School      0.938671
 Thomas High School       0.932722
 Wilson High School       0.938677
 Wright High School       0.933333
 dtype: float64]

In [70]:
passing_read = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
passing_read

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [71]:
sch_overall_read = passing_read.groupby(["school_name"]).count()["student_name"]
sch_overall_read

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [72]:
per_school_read=[(sch_overall_read)/(per_school_counts)]
per_school_read

[Bailey High School       0.819333
 Cabrera High School      0.970398
 Figueroa High School     0.807392
 Ford High School         0.792990
 Griffin High School      0.971390
 Hernandez High School    0.808630
 Holden High School       0.962529
 Huang High School        0.813164
 Johnson High School      0.812224
 Pena High School         0.959459
 Rodriguez High School    0.802201
 Shelton High School      0.958546
 Thomas High School       0.973089
 Wilson High School       0.965396
 Wright High School       0.966111
 dtype: float64]

In [ ]:
#Total_Students=schoolmath['size'].count()
#Total_Students

In [ ]:
#schoolmath['%Passing Math'] = (schoolmath['math_score']/schoolmath['size'])*100
#schoolmath

In [ ]:
#percentmath = (studentsmath/totalstudents)*100

In [ ]:
# Use pandas sum() method to get the sum for each row

# Budget_df['Total School Budget'] = school_metrics.iloc[:, 2:].sum(axis=1)
# student_size = school_metrics['size'].count()
# per_stu_budget = (Budget/student_size)

# per_stu_budget = school_metrics.sum

# Determine per student budget
school_metric

# Determine per student budget
school_metric[student_budget] = school_metric.mean(axis=6)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type