### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
# To hold all the results
my_dict = {}

In [6]:
# Determine total number of schools 
totalschool= school_data['school_name'].count()
totalschool
my_dict['Total School']=totalschool

In [7]:
# total number of students
totalstudents = school_data_complete_df['student_name'].count()
my_dict['Total Students']=totalstudents

In [8]:
# total budget
totalbudget= school_data['budget'].sum()
my_dict['Total Budget'] = totalbudget
print(totalbudget)

24649428

In [9]:
# calculate avearge math scores
avgmaths = school_data_complete_df['math_score'].mean()
my_dict['Average Math Score'] = avgmaths
print(avgmaths)

78.98537145774827

In [10]:
# calculate avearge reading scores
avgreading = school_data_complete_df['reading_score'].mean()
my_dict['Average Reading Score'] = avgreading
print(avgreading)

81.87784018381414

In [17]:
# Determine overall passing Reading and Math in all schools
tot =school_data_complete_df['Student ID'].count()

In [18]:
overallpassing= (school_data_complete_df.loc[(school_data_complete_df['reading_score']>=70)&(school_data_complete_df['math_score']>=70)]['Student ID'].count()/tot)*100
overallpassing
my_dict['% Overall Passing'] = overallpassing

In [19]:
my_dict

{'Total School': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading Score': 81.87784018381414,
 '% Passing Math': 74.9808526933878,
 '% Passing Reading': 85.80546336482001,
 '% Overall Passing': 65.17232575950983}

In [20]:
#to reorder use this
results_df = pd.DataFrame([my_dict])
results_df = results_df[['Total School','Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]
results_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
# calculate percentage of students scoring 70 or more in maths 
passingmath= school_data_complete_df[school_data_complete_df['math_score']>=70]
passingmath

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [12]:
studentsmath=passingmath['student_name'].count()

In [13]:
percentmath = (studentsmath/totalstudents)*100
print(percentmath)
my_dict['% Passing Math'] = percentmath

74.9808526933878

In [14]:
# determine percentage students scoring 70 or more in reading
passingreading= school_data_complete_df[school_data_complete_df['reading_score']>=70]

In [15]:
studentsreading=passingreading['student_name'].count()

In [16]:
percentreading= (studentsreading/totalstudents)*100
print(percentreading)
my_dict['% Passing Reading'] = percentreading

85.80546336482001

In [ ]:
# School Summary

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type